* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.main-content {
    width: 100vw;
    height: 100vh;
    background: #1F2937;
    padding: 8em 2em 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 900;
    font-size: 2.1rem;
    color: #34D399;
    line-height: 1;
}

#subtitle {
    padding: .5em 0 2em;
}

.top-window {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 2px solid #2F3E53;
    padding: 0 0 2em;
}

.bottom-window {
    display: flex;
    gap: 1em;
    padding: 1em 0 0;
}

.password-fields {
    width: 141px;
    height: 30px;
    background: #273549;
    color: #34D399;
    border-radius: 8px;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #D5D4D8;
}

span {
    color: #FFFF;
}

button {
    background: #34D399;
    color: #FFFF;
    border: none;
    border-radius: 8px;
    padding: .8em 2em;
    font-weight: 600;
    cursor: pointer;
}

.copy-btn {
    background: none;
    font-size: smaller;
    font-weight: 200;
    text-decoration: underline;
    padding: 0;
    margin: 1em 0 0 .5em;
    cursor: pointer;
}

.copy-btn:hover {
    color: #34D399;
}

.password-length {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    gap: .7em;
    padding: 0 0 2em;
}

input {
    width: 20px;
}

label {
    color: #D5D4D8;
}

@media (min-width: 768px){
    body {
        background: #1F2937;
    }
    main {
        display: flex;
        justify-content: center;
    }
    .main-content {
        width: 550px;
        height: 550px;
    }
    h1 {
        font-size: 3.4rem;
    }
    #subtitle {
    font-size: 1.2rem;
    padding: 1.5em 0 2em;
    }   
    button {
        font-size: 1.1rem;
    }
    .password-fields {
        width: 235px;
        height: 50px;
        font-size: 1.1rem;
    }
    .password-length {
        gap: 1em;
    }
    input {
        width: 30px;
    }
    .copy-btn {
        font-size: small;
    } 
}
